SECRET_KEY='683ms0#l@7a@fpqx!r^fv0d!a+4*8!601j4e3ume66dmrm1)k5'

DEBUG =True

ALLOWED_HOSTS ='127.0.0.1,localhost'

POSTGRES_DB=foodgram
POSTGRES_USER=admin
POSTGRES_PASSWORD=admin
DB_HOST=db
# DB_HOST=localhost
DB_PORT=5432